/*
 * !!! Note: To edit the stylesheet, please edit the scss files, not the
 * finished CSS !!!
 */

// Mixins

// Import our helpers that don't need any settings to function.
@import 'mixins/em'; // px-to-em helper.
@import 'mixins/web-fonts'; // Google web fonts importer.


// Config - Edit these files!

// Our main settings come first.  We use these in everything else.
@import 'config/settings';

// Get our bootstrap local overrides.
@import 'config/bootstrap-settings';


// Libraries.

@import 'font-awesome';
// @import 'compass/css3/transition';
// @import 'compass/utilities/general/clearfix';
@import 'breakpoint';

// Import our bootstrap replacement.  This file replaces the default bootstrap
// library.  Edit this if you want to remove some bootstrap functionality.
@import 'mixins/bootstrap-minimal';

// The bootstrap default theme is entirely optional.  Enable this below.
@import "bootstrap/theme";

// Page modules

// Our global reusable styles.
@import 'modules/global';

// @import 'modules/header';
// @import 'modules/footer';


// Page-specific styles

// @import 'pages/home';
// @import 'pages/document';
// @import 'pages/login';
