/* Global styles. */

// Fix our baselines.
html {
    // Reset font size.
    font-size: 16px;
}

// Set our sizes.
// Generated your own at http://www.gridlover.net/app/
body, html {
    font-size: $base-font-size;
    line-height: $base-line-height * $base-font-size; // Get our units back.
}

h1 {
    font-size: 3.25rem;
    line-height: 6rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.5rem;
    line-height: 4rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.8125rem;
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h4 {
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h5 {
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 0rem;
    margin-bottom: 2rem;
}

h6 {
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

p, ul, ol, pre, table, blockquote {
    margin-top: 0;
    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0;
    }

}

dt, dd {
    line-height: 2rem;
}

/* Button replacements. */
.button {
    @extend .btn;
    border: none;
    font-size: 1.05rem;
    line-height: 2rem;
    margin: 0;
    padding: 0 10px;
}

.action-button {
    @extend .btn-primary;
    text-transform: uppercase;
}

.reject-button {
    @extend .btn-warning;
    text-transform: uppercase;
}

/* Debugging */

// Grid overlay based on 32px (2rem * 16px base) line height.
.TYPE-DEBUG {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAgCAYAAAA40qkZAAAAG0lEQVQYV2NkgALGUQYDAyIQysvL/3d2djICACdABCFY2RRTAAAAAElFTkSuQmCC);
    z-index: -1;
}
